.lessonPage{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.columnLessons{
    width: 350px;
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 1024px){
    .columnLessons{
        width: 300px;
        .bs-box{
            .txt{
                p{
                    font-size: 14px;
                    line-height: 16px;
                }
                .time{
                    font-size: 13px;
                }
            }
        }
    }
    
}

@media (max-width: 979px){
    
}
@media (max-width: 1024px){

}