@import '../../../../../Shared/Style/generalStyle.scss';

.course-program {
	display: flex;
	flex-direction: column;
	gap: 44px;
	align-items: center;
	padding: 62px 202px 64px 202px;
	.course-progress {
		@include h4;
		color: $blackColor;
		display: inline-block;
		padding: 28px 55px;
	}

	h2 {
		@include h2;
	}

	h3 {
		@include h4;
		margin-left: 33px;
		margin-bottom: 18px;
	}

	.course-lessons {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.course-topic-lessons {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&-light {
		h2 {
			color: $indigoColor;
		}

		h3 {
			color: $blackColor;
		}
	}

	&-dark {
		background-color: $blackColor;
		.course-progress {
			background-color: $lavenderColor;
			border-radius: 16px;
		}

		h2 {
			color: $lightBlueColor;
		}

		h3 {
			color: $whiteColor;
		}
	}
}
